@import '../../styles/colors.scss';

.navbar {
    display: flex;
    height: 1em;
    justify-content: space-between;
    padding: 2em;

    &__logo {
        display: flex;
        width: 5vw;
        height: 2vw;
    }

    &__info {
        display: flex;
        align-items: center;

    }
    &__line {
        text-align: center;
    }

    &__line::before {
        content: "";
        height: 1px;
        width: 30vw;
        background-color: $font-color;
        display: inline-block;
        opacity: .2;
        position: relative;
        top: -5px;
    }
    span {
        align-self: center;
        margin: 0 25px;
    }
}